@use "~arccorp-vars/src/scss/main.scss";
@use "./partials/ndc-card";

.omnichannel-page {
  max-width: 100vw;
  width: 100%;
}

.company-card {
  margin-top: 60px;
  background-color: main.$altitude-gray;
  padding: 20px 30px;
  border-radius: 10px;
}

.company {
  max-width: 50%;
  display: flex;
  margin: auto;
  padding-bottom: 30px;
}

.company-text {
  color: main.$tarmac;
  text-decoration: none;
  font-family: main.$arc-font-regular;
  font-size: 18px;
  letter-spacing: 0;
  line-height: 23px;

  :hover {
    color: main.$tarmac;
  }
}

.company-cta {
  padding-top: 30px;
  text-align: right;

  a {
    text-decoration: none;
  }

  &::after {
    font-family: "icomoon";
    content: "\E909";
    font-size: 0.675rem;
    margin-left: 10px;
  }
}

.atd-jumbo {
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.3);
}

@media (max-width: 1259px) {
}

@media (max-width: 990px) {
}
@media (max-width: 904px) {
}

@media (max-width: 766px) {
}
